    @import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
    /* .login__wrapper {
    width: 100%;
    height: 100%;
    background-color: #2f2f2f;
    margin-top: -20px;
    padding: 20px;
} */
    
    .App {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .base-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .login-header {
        font-size: 35px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
    }
    
    .image {
        width: 21em;
    }
    
    img {
        width: 100%;
        height: 100%;
    }
    
    .login-form {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
    }
    
    label {
        font-size: 20px;
    }
    
    input {
        margin-top: 6px;
        height: 37px;
        padding: 0px 10px;
        font-size: 16px;
        font-family: sans-serif;
        background-color: #f3f3f3;
        border: 0;
        border-radius: 4px;
        margin-bottom: 14px;
        transition: all 250ms ease-in-out;
    }
    
    input:focus {
        outline: none;
        box-shadow: 0px 0px 12px 0.8px #0e81ce96;
    }
    
    .login-footer {
        margin-top: 1em;
    }
    
    .login-footer .btn {
        font-size: 21px;
        padding: 5px 20px;
        border: 0;
        background-color: #3498db;
        color: #fff;
        border-radius: 3px;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        margin-bottom: 10px;
    }
    
    .btn:hover {
        background-color: #2386c8;
    }
    
    .btn:disabled {
        background-color: #414344;
    }
    
    .btn:focus {
        outline: none;
    }
    
    .right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;
        background: linear-gradient(45deg, #006ff0 33%, #00b6f0 66%, #00e5f0);
        width: 100%;
        position: absolute;
        right: -34%;
        border-radius: 6px;
        z-index: 1;
        transition: all 400ms ease-in-out;
        cursor: pointer;
    }
    
    .right {
        right: -40%;
        align-items: flex-end;
    }
    
    .left {
        right: 40%;
        align-items: flex-start;
    }
    
    .right:hover {
        right: -45%;
    }
    
    .left:hover {
        right: 45%;
    }
    
    .text {
        font-size: 25px;
        font-weight: 300;
        color: #fff;
    }
    
    .login {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 99;
        margin-top: 20px;
    }
    
    .inner-container {
        padding: 0 10px;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
        position: relative;
        z-index: 99;
        width: 100%;
        height: 100%;
        z-index: 99;
        padding: 17px 10px;
    }
    
    @media screen and (max-width: 770px) {
        .right-side {
            position: relative;
        }
        .right {
            align-items: center;
            right: 0;
        }
        .left {
            align-items: center;
            right: 0;
        }
        .left .inner-container {
            transform: translateX(100px);
            transition: 0.3s;
        }
        .right .inner-container {
            transform: translateX(-90px);
            transition: 0.3s;
        }
        .right:hover {
            right: 0;
        }
        .left:hover {
            right: 0;
        }
    }
    
    @media screen and (max-width: 400px) {
        .image {
            width: 100%;
        }
    }