* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 479px) {
    .category__item {
        margin: 15px 15px;
    }
}

.category__item:hover {
    background-color: #79c9ff30;
}

.category__icon {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

.category__title {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #000;
    
    margin-bottom: 8px;
    overflow-wrap: break-word;
}

.category__description {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #6D7783;
    text-align: center;
}