.footer {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.devs a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #6D7783;
}

.devs a:hover {
    color: #000;
}