    .header {
        background-color: #2f2f2f;
        overflow: hidden;
    }
    
    .background-circle {
        position: absolute;
        top: -550px;
        right: -550px;
        width: 1040px;
        height: 1040px;
        border-radius: 50%;
        background: linear-gradient(199.79deg, #0D72CD 41.49%, #000000 96.44%);
    }
    
    .header_container {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        padding: 0px 40px;
        margin: 0 auto;
        position: relative;
        margin-top: 15px;
    }
    
    .above {
        z-index: 1;
        position: relative;
    }
    
    .header__navlist {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    
    .button__navlist {
        background: transparent;
        border-radius: 20px;
        border: 0px;
        outline: none;
        padding: 10px 50px;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.2em;
        z-index: 2;
        transition: background .3s, color .1s;
    }
    
    .nickname {
        background: linear-gradient(45deg, #006ff0 33%, #00b6f0 66%, #00e5f0);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .button__navlist:hover {
        background: #fff;
        color: #000;
        transition: background .5s, color .1s;
    }
    
    .header__title {
        height: 100%;
        background-color: #2f2f2f;
        max-width: 1200px;
        padding: 40px;
        padding-bottom: 40px;
        margin: 0 auto;
        margin-top: 32px;
        color: #fff;
        font-size: 60px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        position: relative;
        z-index: 1;
    }
    
    @media screen and (max-width: 784px) {
        .header_container {
            justify-content: center;
        }
    }
    
    @media screen and (max-width: 725px) {
        .header__navitem {
            margin-bottom: 10px;
            font-size: 25px;
        }
        .header_container {
            flex-direction: column;
        }
        .logo svg {
            margin: 0 auto;
            width: 100%;
        }
        .header__navlist {
            display: flex;
            flex-direction: column;
        }
    }
    
    @media screen and (max-width: 620px) {
        .header__title {
            margin-top: 0;
            font-size: 50px;
            align-self: center;
            padding: 20px 10px;
        }
        .title-small {
            margin-top: 0;
            padding: 5px;
        }
        .above {
            padding: 5px;
        }
    }
    
    @media screen and (max-width: 540px) {
        .logo-container {
            margin: 0 auto;
        }
    }
    
    @media screen and (max-width: 430px) {
        .header__title {
            font-size: 3em;
            align-self: center;
        }
        .title-small {
            margin-top: 0;
        }
    }
    
    @media screen and (max-width: 366px) {
        .header_container {
            margin-top: 1em;
        }
    }
    
    .title-small {
        margin-top: 15px;
        font-size: 16px;
        font-weight: 300;
    }
    
    .button__primary {
        background: #fff;
        border-radius: 20px;
        border: 0px;
        outline: none;
        padding: 10px 50px;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        z-index: 2;
    }
    
    .logo-container {
        position: relative;
        z-index: 2;
        margin-bottom: 15px;
    }
    
    .button__black {
        background: #000;
        color: white;
        border-radius: 20px;
        border: 0px;
        outline: none;
        padding: 10px 50px;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        z-index: 2;
        text-transform: uppercase;
    }
    
    .button__black-small {
        background: #000;
        color: white;
        border-radius: 20px;
        border: 0px;
        outline: none;
        padding: 5px 20px;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        z-index: 2;
    }
    
    .logo-text {
        color: #fff;
        opacity: 0;
        animation: showlogo 5s forwards 3.3s;
    }
    
    .animate {
        color: #fff;
        animation: showlogo 2.5s forwards;
        z-index: 25;
    }
    
    @keyframes showlogo {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .rect1 {
        stroke: #fff;
        stroke-width: 1px;
        fill: transparent;
        stroke-dasharray: 243;
        stroke-dashoffset: 243;
        animation: animate 5s forwards .7s;
    }
    
    @keyframes animate {
        to {
            stroke-dashoffset: 0;
        }
    }
    
    .rect2 {
        stroke: #fff;
        stroke-width: 1px;
        fill: transparent;
        stroke-dasharray: 243;
        stroke-dashoffset: 243;
        animation: animate 5s forwards .5s;
    }
    
    .rect3 {
        stroke: #fff;
        stroke-width: 1px;
        fill: transparent;
        stroke-dasharray: 243;
        stroke-dashoffset: 243;
        animation: animate 5s forwards .3s;
    }