.icon {
    height: 50px;
    width: 50px;
    background-color: gray;
    border-radius: 50%;
}

.select__form {
    margin-bottom: 30px;
    height: 35px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    outline: none;
}

.select__form option {
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.form__container {
    display: flex;
    flex-direction: column;
}

.red {
    color: red;
}