
.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button__container {
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}

.site__item {
    padding: 10px 10px;
    margin: 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    border-radius: 18px;
    box-shadow: 5px 10px 17px 1px rgba(0, 0, 0, 0.15);
    /* box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2); */
    width: 250px;
    font-size: 18x;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    overflow: hidden;
}

/*.site__item:last-child {
    margin-right: 0;
}*/

.site__item ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
}  

.site__item ul li {
    padding: 0 3px;
    margin-top: 7px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    list-style-position: inside;
    width: 240px;
    
}

.site__item ul li a:link {
    background: rgb(42, 100, 207);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.site__item ul li a:visited {
    background: #444444;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site__item ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #aeaeae;
    font-size: 1.2em;
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1em; /* Also needed for space (tweak if needed) */
    background: rgba(8, 55, 98);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.site__item h3 {
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.cat_title{
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 479px) {
    .category__list {
        margin: 15px 15px;
    }
    .site__item {
        margin-right: 0px;
    }
}