.popular h3{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.pepole{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.human{
    overflow: hidden;
    background-color: lightgray;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 40px;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}