.icon {
    height: 50px;
    width: 50px;
    background-color: gray;
    border-radius: 50%;
}
.input__form{
    outline: none;
    border: 1px solid darkgray;
    padding: 10px 20px;
    border-radius: 50px;
}
.back{
    margin-top: 20px;
    justify-self: center;
}
.form__container__container{
    max-width: 90%;
}