* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.category__item {
    padding: 30px 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    position: relative;
    border-radius: 18px;
    box-shadow: 5px 10px 17px 1px rgba(0, 0, 0, 0.15);
    width: 220px;
    height: 300px;
    overflow: hidden;
    transition: .5s all;
}

.description__wrapper {
    align-self: flex-start;
}

@media screen and (max-width: 479px) {
    .category__item {
        margin: 15px 15px;
    }
}

.category__icon {
    height: 50%;
    width: 100px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.category__title {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    text-decoration: none;
    color: #000;

    margin-bottom: 8px;
}

.category__description {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #6D7783;
}

.categoryico {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 100px;
    text-align: center;
    background: linear-gradient(45deg,#006ff0 33%, #00b6f0 66%, #00e5f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.deleteclass {
    display: none;
    
    position: absolute;
    padding: 10px;
    right: 10px;
    top: 0;

    background-color: black;
    
    border: 0px;
    
    font-size: 24px;
    font-weight: 300;
    
    cursor: pointer;
    outline: none;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
    .deleteclass {
        display: block;
        font-size: 30px;
    }
}


.show {
    display: block;
}